<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.qu">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".participate" />
        <activity android:name=".newquiz" />
        <activity android:name=".newQ" />
        <activity android:name=".Previous" />
        <activity android:name=".CreateQuiz" />
        <activity android:name=".result" />
        <activity android:name=".NewGame" />
        <activity android:name=".InGame" />
        <activity android:name=".Password" />
        <activity android:name=".Username" />
        <activity android:name=".Settings" />
        <activity android:name=".About" />
        <activity android:name=".HomePage" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>